name: Testing
on: [push]

jobs:
  build-and-run:
    name: Build and Run
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - name: Build Code
        run: make build
      - name: Nominal Run
        run: make run
      - name: Test Run
        run: make test
      - name: Clean
        run: make clean
